@import "tailwindcss";
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2") format('woff2');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}
@font-face {
  font-family: 'comicneueu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/4UaHrEJDsxBrF37olUeD96rp5w.woff2") format('woff2');
}

.font-fredoka {
  font-weight: 700;
  font-family: 'Fredoka One';
}

.font-comicneueu{
  font-weight: 600;
  font-family: 'comicneueu';
}

@keyframes float {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-50px) rotate(180deg); }
  100% { transform: translateY(0) rotate(360deg); }
}

.animate-float {
  animation: float infinite ease-in-out;
}
.box {
  animation: gentleSwing 3s infinite ease-in-out;
}

@keyframes gentleSwing {
  0%   { transform: rotate(0deg); }    
  35%  { transform: rotate(5deg); }  
  50%  { transform: rotate(0deg); }    
  90%  { transform: rotate(-5deg); }
  95%  { transform: rotate(0deg); }
  100% { transition: rotate(0deg); }
}



